# Core Flask & CORS 
Flask
flask-cors
gunicorn

# Environment variable loading
python-dotenv

# HTTP requests
requests

# Transformers (for BLIP captioning)
transformers

# Torch (required for BLIP + Hugging Face models)
torch==2.5.1

# NLP (spaCy for mindmap + en_core_web_sm model)
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl

# Image processing
Pillow

# Graph visualization
graphviz

# YouTube Transcript
youtube-transcript-api

# Reddit API
praw

# Google Generative AI SDK
google-generativeai
